<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myssm.yuan.dao.IUserDao" >
   <select id="getUserList" resultType="com.myssm.yuan.pojo.User">
   		select * from ob_user
   </select>
   <select id="getUserByAccount" parameterType="String" resultType="com.myssm.yuan.pojo.User">
 		select * from ob_user where account=#{account}
 	</select>
</mapper>